@media only screen and (max-width: 1600px) {
  .our-dashbord.dashbord .container-fluid {
    padding-left: 4%;
    padding-right: 15px;
  }
  .our-dashbord.dashbord .container-fluid.message_page {
    padding-left: 3%;
  }
  #mega-menu ul.menu li .drop-menu {
    width: 1090px;
  }
  .dashboard__content {
    padding: 60px 30px;
  }
}
@media only screen and (max-width: 1500px) {
  .dn-1500 {
    display: none;
  }
  .our-dashbord.dashbord .container-fluid {
    padding-left: 6%;
  }
  .our-dashbord.dashbord .container-fluid.message_page {
    padding-left: 5%;
  }
  .top-search.home2_style form.form-search .box-search input {
    width: 500px;
  }
  .top-search.home2_style.at_home4 .box-search input {
    width: 450px !important;
  }
}
@media only screen and (max-width: 1440px) {
  .dn-1440 {
    display: none;
  }
  .dib-1440 {
    display: inline-block;
  }
  .our-dashbord.dashbord .container-fluid.message_page {
    padding-left: 7%;
  }
  .category_list_box.home7_style .thumb img {
    display: none;
  }
  .category_list_box.home7_style.style2 {
    padding-left: 30px;
  }

header {
    position: fixed;
}

  header.header-nav.menu_style_home_one.home5_style a.navbar_brand {
    width: 13%;
  }
  #mega-menu ul.menu li .drop-menu .one-third {
    width: 25%;
  }
  header.header-nav.menu_style_home_one
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list,
  header.header-nav.menu_style_home_one.menu_home5_style.athome3
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list,
  header.header-nav.menu_style_home_one.menu_home5_style.athome7
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list {
    width: 180px;
  }
}
@media only screen and (max-width: 1400px) {
  .home7_style #mega-menu {
    width: 250px !important;
  }
  .mega_button_dropdown_menu.home4_style,
  #mega-menu ul.menu.home4_style li .drop-menu {
    width: 250px;
  }
  .top-search.home4_style form.form-search .box-search input,
  .top-search.home4_style form.form-search .box-search .search-suggestions {
    width: 326px !important;
  }
  #mega-menu ul.menu li .drop-menu {
    width: 1030px;
  }
}
@media only screen and (max-width: 1366px) {
  .mt0-xl {
    margin-top: 0;
  }
  .mt30-xl {
    margin-top: 30px;
  }
  .dn-1366 {
    display: none;
  }
  .db-1366 {
    display: block !important;
  }
  .dib-1366 {
    display: inline-block;
  }
  .sidebar-menu {
    width: 230px;
  }
  .widget_menu_home {
    width: max-content;
  }
  .hm_log_fav_cart_widget .wrapper ul li {
    margin-right: 15px;
  }
  .our-dashbord.dashbord .container-fluid {
    padding-left: 10%;
    padding-right: 15px;
  }
  .top-search form.form-search .box-search input {
    max-width: 295px;
  }
  .top-search form.form-search .box-search .search-suggestions {
    width: 380px;
  }
  .footer_qlink_widget {
    padding-left: 10px;
  }
  .shop_item.list_style .details:before {
    display: none;
  }
  .mega_button_dropdown_menu.active ul.menu {
    width: 250px;
  }
  .advscrh_frm_btn.home7_style {
    right: 4px;
  }
  .top-search.home7_style form.form-search .box-search input {
    width: 290px;
  }
  .home7_style #mega-menu {
    transform: translateX(-7px);
  }
}
@media only screen and (max-width: 1280px) {
  .fn-1280 {
    float: none !important;
  }
  .our-dashbord.dashbord .container-fluid.message_page {
    padding-left: 11%;
  }
  .inbox_user_list ul li.contact .wrap .meta {
    display: table-caption;
    margin-top: 0;
  }
  .child-wrap.df {
    display: block;
  }
  #mega-menu ul.menu li .drop-menu .one-third:first-child {
    padding-left: 20px;
  }
  #mega-menu ul.menu li .drop-menu .one-third {
    width: 23%;
  }
  #mega-menu ul.menu li .drop-menu {
    width: 850px;
  }
  header.header-nav.menu_style_home_one.home7_style a.navbar_brand {
    margin-top: 16px;
  }
  header.header-nav.menu_style_home_one.home7_style
    .ace-responsive-menu
    > li
    > a {
    padding: 25px 10px 27px 5px;
  }
  .banner_one.megamenu_style .details.style2 {
    left: 20px;
    top: 40px;
  }
  .shoplist_style_v1 .banner-style-one .slide {
    padding: 105px 30px;
  }
  .shop_single_product_details .cart_btns button.btn {
    width: auto;
  }
  .banner_one.home5_style .details {
    top: 15%;
  }
  .banner_one.home5_style .thumb img {
    height: 220px;
  }
  .home7_style #mega-menu {
    transform: translateX(0);
  }
  header.header-nav.menu_style_home_one
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list,
  header.header-nav.menu_style_home_one.menu_home5_style.athome3
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list,
  header.header-nav.menu_style_home_one.menu_home5_style.athome7
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list {
    width: 160px;
  }
}
@media only screen and (max-width: 1200px) {
  .pl300-1200 {
    padding-left: 300px;
  }
  .ml0-1200 {
    margin-left: 0;
  }
  .dn-1200 {
    display: none;
  }
  .fn-xl {
    float: none !important;
  }
  .inbox_chatting_box .chatting_content li.media.reply.first {
    margin: 0;
  }
  .category_list_box.home7_style.style2 .title,
  .banner_one.home7_style .details.style2 .title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .dn-lg,
  .dn-1199 {
    display: none !important;
  }
  .db-lg,
  .db-1199 {
    display: block !important;
  }
  .fn-1199,
  .fn-lg {
    float: none !important;
  }
  .tac-lg,
  .tac-1199 {
    text-align: center !important;
  }
  .tar-lg {
    text-align: right !important;
  }
  .tal-lg {
    text-align: left !important;
  }
  .p0-lg,
  .p0-1199 {
    padding: 0 !important;
  }
  .p30-lg,
  .p30-1199 {
    padding: 30px;
  }
  .pl0-1199,
  .pl0-lg {
    padding-left: 0 !important;
  }
  .pl10-1199,
  .pl10-lg {
    padding-left: 10px;
  }
  .pl15-1199,
  .pl15-lg {
    padding-left: 15px !important;
  }
  .pl230-lg,
  .pl230-1199 {
    padding-left: 230px !important;
  }
  .pl100-lg,
  .pl100-1199 {
    padding-left: 100px !important;
  }
  .plpr15-lg {
    padding-left: 15px !important;
    padding-right: 15px;
  }
  .pb0-1199,
  .pb0-lg {
    padding-bottom: 0;
  }
  .pb100-1199,
  .pb100-lg {
    padding-bottom: 100px;
  }
  .pr0-1199,
  .pr0-lg {
    padding-right: 0;
  }
  .pt0-1199,
  .pt0-lg {
    padding-top: 0;
  }
  .pt50-1199,
  .pt50-lg {
    padding-top: 50px;
  }
  .pt100-1199,
  .pt100-lg {
    padding-top: 100px;
  }
  .ml0-1199,
  .ml0-lg {
    margin-left: 0 !important;
  }
  .ml5-1199,
  .ml5-lg {
    margin-left: 5px !important;
  }
  .ml10-1199,
  .ml10-lg {
    margin-left: 10px !important;
  }
  .ml15-1199,
  .ml15-lg {
    margin-left: 15px !important;
  }
  .ml20-1199,
  .ml20-lg {
    margin-left: 20px !important;
  }
  .ml25-1199,
  .ml25-lg {
    margin-left: 25px !important;
  }
  .ml30-1199,
  .ml30-lg {
    margin-left: 30px !important;
  }
  .ml35-1199,
  .ml35-lg {
    margin-left: 35px !important;
  }
  .ml40-1199,
  .ml40-lg {
    margin-left: 40px !important;
  }
  .ml45-1199,
  .ml45-lg {
    margin-left: 45px !important;
  }
  .ml50-1199,
  .ml50-lg {
    margin-left: 50px !important;
  }
  .mr0-1199,
  .mr0-lg {
    margin-right: 0;
  }
  .mb10-lg,
  .mb10-1199 {
    margin-bottom: 10px;
  }
  .mb20-lg,
  .mb20-1199 {
    margin-bottom: 20px;
  }
  .mb30-lg,
  .mb30-1199 {
    margin-bottom: 30px;
  }
  .mt0-lg,
  .mt0-1199 {
    margin-top: 0;
  }
  .mt5-lg,
  .mt5-1199 {
    margin-top: 5px !important;
  }
  .mt30-lg,
  .mt30-1199 {
    margin-top: 30px;
  }
  .mt50-lg,
  .mt50-1199 {
    margin-top: 50px;
  }
  .mt60-lg,
  .mt60-1199 {
    margin-top: 60px;
  }
  .mt70-lg,
  .mt70-1199 {
    margin-top: 70px;
  }
  .mt80-lg,
  .mt80-1199 {
    margin-top: 80px;
  }
  .mt90-lg,
  .mt90-1199 {
    margin-top: 90px;
  }
  .mt100-lg,
  .mt100-1199 {
    margin-top: 100px;
  }
  .mr0-lg,
  .mr0-1199 {
    margin-right: 0;
  }
  .mr5-lg,
  .mr5-1199 {
    margin-right: 5px;
  }
  .mr10-lg,
  .mr10-1199 {
    margin-right: 10px;
  }
  .mr15-lg,
  .mr15-1199 {
    margin-right: 15px !important;
  }
  .mr20-lg,
  .mr20-1199 {
    margin-right: 20px;
  }
  .mr25-lg,
  .mr25-1199 {
    margin-right: 25px;
  }
  .mr30-lg,
  .mr30-1199 {
    margin-right: 30px;
  }
  .mr35-lg,
  .mr35-1199 {
    margin-right: 35px;
  }
  .mr40-lg,
  .mr40-1199 {
    margin-right: 40px;
  }
  .mr45-lg,
  .mr45-1199 {
    margin-right: 45px;
  }
  .mr50-lg,
  .mr50-1199 {
    margin-right: 50px;
  }
  .mr55-lg,
  .mr55-1199 {
    margin-right: 55px;
  }
  .mr60-lg,
  .mr60-1199 {
    margin-right: 60px;
  }
  .pl220-lg {
    padding-left: 220px !important;
  }
  .bg-img-none-lg {
    background-image: none !important;
  }
  header.header-nav.menu_style_home_one {
    padding: 0 30px;
  }
  header.header-nav.dashboard {
    padding: 0 5px 0 15px;
  }
  header.header-nav.menu_style_home_one.home5_style a.navbar_brand {
    width: 15%;
  }
  header.header-nav.menu_style_home_one
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list {
    width: 230px;
  }
  .our-dashbord.dashbord .container-fluid,
  .our-dashbord.dashbord .container-fluid.message_page {
    padding-left: 15px;
  }
  .dropdown-content {
    min-height: 300px;
  }
  .footer_qlink_widget {
    padding-left: 0;
  }
  .sidebar-menu {
    width: 250px;
  }
  .faq_according.style2 .accordion .card .card-header {
    display: inline-table;
  }
  .hm_log_fav_cart_widget {
    padding: 0;
  }
  .hm_log_fav_cart_widget .wrapper ul li {
    margin-right: 5px;
  }
  .ui_kit_button .btn {
    margin-bottom: 15px;
  }
  .mbp_pagination ul.page_navigation {
    padding-left: 20px;
  }
  .checkout_form .checkout_coupon form input {
    margin-right: 15px;
  }
  .checkout_form .checkout_coupon form.form_one {
    max-width: inherit !important;
  }
  .checkout_form .checkout_coupon .form_two {
    position: relative;
    right: auto;
  }
  .main_blog_post_content .row.event_lists {
    margin-bottom: 30px;
  }
  .editing_list ul li {
    margin-bottom: 5px;
  }
  .ui_page_heading .blockquote,
  .mbp_blockquote .blockquote {
    margin-left: 0;
    width: 100%;
  }
  .for_blog.list-type {
    display: block;
  }
  .for_blog.list-type .thumb {
    max-width: inherit;
    width: auto !important;
  }
  .inbox_user_list ul li.contact .wrap .meta {
    display: block;
    margin-top: 0;
  }
  .top-search form.form-search .box-search input {
    max-width: 178px;
  }
  .top-search form.form-search .box-search .search-suggestions {
    width: 316px;
  }
  .mobile_menu_search_widget
    .top-search
    form.form-search
    .box-search
    .search-suggestions {
    width: auto;
  }
  #mega-menu,
  .home7_style #mega-menu {
    width: 212px !important;
  }
  #mega-menu .btn-mega .icon {
    margin-left: 13px !important;
  }
  .footer_contact_widget li:nth-child(2) a,
  .footer_contact_widget li:nth-child(3) a {
    padding-left: 0;
  }
  .footer_contact_widget li a {
    padding-left: 20px;
  }
  .for_blog.list-type .details {
    padding: 0;
  }
  .for_blog .tag.style2 {
    left: 0;
  }
  .banner_one.home6_style .thumb img {
    height: 230px;
    width: 100%;
  }
  .banner_one.home6_style .details .title {
    width: auto;
  }
  .zmart_testimonial_slider .swiper-button-next,
  .zmart_testimonial_slider .swiper-button-prev {
    bottom: 0;
    top: auto;
  }
  .zmart_testimonial_slider .swiper-button-next {
    right: 0;
  }
  .zmart_testimonial_slider .swiper-button-prev {
    left: auto;
    right: 55px;
  }
  .order_tracking_thumb {
    height: 550px;
  }
  .order_tracking_thumb img {
    position: absolute;
  }
  .tracking_page .btn-track {
    margin-bottom: 0 !important;
  }
  .shoplist_style_v7 .banner-style-one .slide {
    padding: 100px 65px;
  }
  .banner_one.home1_style.home3_large_banner .details {
    left: 30px;
  }
  .main-banner-wrapper.home1_style.athome7,
  .header_middle_advnc_search .search_form_wrapper.home7_style {
    transform: translateX(0);
  }
  .banner_one.home5_style.athome7 .thumb img {
    height: auto;
  }
  .banner_one.home4_style .details {
    left: 30px;
  }
  header.header-nav.menu_style_home_one
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list:last-child,
  header.header-nav.menu_style_home_one.menu_home5_style.athome3
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list:last-child,
  header.header-nav.menu_style_home_one.home4_style
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list:last-child,
  header.header-nav.menu_style_home_one.menu_home5_style.athome7
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list:last-child,
  header.header-nav.menu_style_home_one.menu_home5_style
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list:last-child,
  header.header-nav.menu_style_home_one.home2_style
    .ace-responsive-menu
    li
    ul.sub-menu.dropdown-megamenu
    li.mega_menu_list:last-child {
    margin-top: 30px;
    width: 100%;
  }
  .zoomContainer .zoomWindowContainer .zoomWindow {
    height: 300px !important;
    right: -10px !important;
    width: 300px !important;
  }
  .top-search.home2_style.at_home4
    form.form-search
    .box-search
    .search-suggestions:before {
    top: 154px !important;
  }
  .top-search.home6_style
    form.form-search
    .box-search
    .search-suggestions:before {
    top: 90px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .fn-1024 {
    float: none !important;
  }
  .mb10-1024 {
    margin-bottom: 10px;
  }
  .mb30-1024 {
    margin-bottom: 30px;
  }
  header.header-nav.menu_style_home_one.style2 a.navbar_brand {
    margin-top: 10px;
  }
  header.header-nav.menu_style_home_one.style2
    ul.ace-responsive-menu
    li.list_s:before {
    top: 15px;
  }
  #mega-menu ul.menu li .drop-menu {
    width: 700px;
  }
  #mega-menu ul.menu li .drop-menu .one-third {
    width: 24.5%;
  }
  .our-dashbord:before {
    width: 34% !important;
  }
  .banner-style-one .slide {
    padding: 165px 30px;
  }
  header.header-nav.menu_style_home_one.style2 a.navbar_brand {
    margin-top: 15px;
  }
  header.header-nav a.navbar_brand {
    margin-right: 0;
  }
  header.header-nav.menu_style_home_one a.navbar_brand span,
  header.header-nav.menu_style_home_one.style2 a.navbar_brand span {
    font-size: 24px;
    margin-top: 3px;
  }
  header.header-nav.menu_style_home_one.home6_style
    .ace-responsive-menu.widget_menu_home2
    li
    a {
    padding: 23px 10px;
  }
  .widget_menu_home2 {
    right: 0;
    top: 3px;
  }
  .home9_header_nav_widget {
    position: relative;
  }
  .home9_style #mega-menu {
    display: block;
    height: 10px;
    left: 0;
    margin: 0 auto;
    position: relative;
    right: 0;
  }
  .top-search.home7_style.athome8
    form.form-search
    .box-search
    .search-suggestions:before {
    top: 133px !important;
  }
}
@media only screen and (max-width: 992px) {
  .dn-992 {
    display: none !important;
  }
  .db-992 {
    display: block !important;
  }
  .fn-992 {
    float: none !important;
  }
  .mt0-992 {
    margin-top: 0 !important;
  }
  .mt50-992 {
    margin-top: 50px !important;
  }
  .mt70-992 {
    margin-top: 70px !important;
  }
  .pt65-992 {
    padding-top: 65px !important;
  }
  .stylehome1.home3:before {
    background-color: transparent !important;
  }
  .stylehome1.home3 .mm-navbar,
  .stylehome1.home3 .mm-panel {
    background-color: #1c327e !important;
  }
  .stylehome1.home5 {
    margin-top: -22px;
  }
  .stylehome1.home5::before {
    height: 0;
  }
  .stylehome1.home8:before {
    display: none;
  }
  .testimonial_content {
    padding: 60px 40px;
  }
  .main-banner-wrapper .carousel-btn-block {
    top: 5%;
  }
  .main-banner-wrapper .carousel-btn-block .carousel-btn.left-btn {
    left: auto !important;
    right: 90px;
  }
  .our-dashbord.dashbord {
    padding-top: 45px;
  }
  .checkout_form .checkout_coupon form input,
  .checkout_form .checkout_coupon form button.btn2 {
    margin-right: 15px;
  }
  .inbox_user_list {
    padding: 30px 25px 40px;
  }
  .dashboard .dashboard__sidebar {
    transform: translateX(-100%);
  }
  .dashboard.dsh_board_sidebar_hidden .dashboard__sidebar {
    transform: translateX(0);
  }
  .dashboard__main {
    padding-left: 0;
  }
  .dashboard.dsh_board_sidebar_hidden .dashboard__main::after {
    background-color: rgba(4, 30, 66, 0.5);
    content: "";
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 0;
    pointer-events: auto;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .shoplist_style_v6 .banner-style-one .slide {
    padding: 120px 60px;
  }
  .top-search.home2_style.at_home4
    form.form-search
    .box-search
    .search-suggestions:before,
  .header.home4_style
    .top-search
    form.form-search
    .box-search
    .search-suggestions:before,
  .header.home8_style
    .top-search
    form.form-search
    .box-search
    .search-suggestions:before,
  .header.home10_style
    .top-search
    form.form-search
    .box-search
    .search-suggestions:before {
    top: 15px !important;
  }
}
@media only screen and (max-width: 991px) {
  .mb0-md,
  .mb0-991 {
    margin-bottom: 0 !important;
  }
  .mb10-md,
  .mb10-991 {
    margin-bottom: 10px !important;
  }
  .mb15-md,
  .mb15-991 {
    margin-bottom: 15px !important;
  }
  .mb20-md,
  .mb20-991 {
    margin-bottom: 20px !important;
  }
  .mb25-md,
  .mb25-991 {
    margin-bottom: 25px !important;
  }
  .mb30-md,
  .mb30-991 {
    margin-bottom: 30px !important;
  }
  .mb35-md,
  .mb35-991 {
    margin-bottom: 35px;
  }
  .mb40-md,
  .mb40-991 {
    margin-bottom: 35px;
  }
  .mb45-md,
  .mb45-991 {
    margin-bottom: 45px;
  }
  .mb50-md,
  .mb50-991 {
    margin-bottom: 50px;
  }
  .mt0-md,
  .mt0-991 {
    margin-top: 0 !important;
  }
  .mt30-md,
  .mt30-991 {
    margin-top: 30px;
  }
  .mt50-md,
  .mt50-991 {
    margin-top: 50px;
  }
  .ml0-md,
  .ml0-991 {
    margin-left: 0 !important;
  }
  .ml5-md,
  .ml5-991 {
    margin-left: 5px !important;
  }
  .ml10-md,
  .ml10-991 {
    margin-left: 10px !important;
  }
  .ml15-md,
  .ml15-991 {
    margin-left: 15px !important;
  }
  .ml20-md,
  .ml20-991 {
    margin-left: 20px !important;
  }
  .ml25-md,
  .ml25-991 {
    margin-left: 25px !important;
  }
  .ml30-md,
  .ml30-991 {
    margin-left: 30px !important;
  }
  .ml35-md,
  .ml35-991 {
    margin-left: 35px !important;
  }
  .ml40-md,
  .ml40-991 {
    margin-left: 40px !important;
  }
  .ml45-md,
  .ml45-991 {
    margin-left: 45px !important;
  }
  .ml50-md,
  .ml50-991 {
    margin-left: 50px !important;
  }
  .pb30-md,
  .pb30-991 {
    padding-bottom: 30px;
  }
  .tal-md,
  .tal-991 {
    text-align: left !important;
  }
  .tac-md,
  .tac-991 {
    text-align: center !important;
  }
  .fn-md {
    float: none !important;
  }
  .dn-md,
  .dn-991 {
    display: none !important;
  }
  .db-md,
  .db-991 {
    display: block !important;
  }
  .prpl0-md {
    padding-left: 0;
    padding-right: 0;
  }
  .pb0-md,
  .pb0-991 {
    padding-bottom: 0 !important;
  }
  .pt0-md,
  .pt0-991 {
    padding-top: 0 !important;
  }
  .pl0-md,
  .pl0-991 {
    padding-left: 0 !important;
  }
  .pl10-md,
  .pl10-991 {
    padding-left: 10px !important;
  }
  .pl15-md,
  .pl15-991 {
    padding-left: 15px !important;
  }
  .pr0-md,
  .pr0-991 {
    padding-right: 0 !important;
  }
  .pr15-md,
  .pr15-991 {
    padding-right: 15px !important;
  }
  .bg-img-none-md {
    background-image: none !important;
  }
  .dropdown-content {
    height: 450px;
    top: 200px;
  }
  .dropdown-content:before {
    left: -10%;
  }
  .terms_condition_grid {
    margin-bottom: 30px;
  }
  .category_list_box.home4_style .thumb img {
    right: 0;
  }
  .shop_item.home3_style2.home4 .thumb img {
    margin: 0 auto;
  }
  .footer_about_widget {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer_qlink_widget {
    padding-left: 0;
  }
  .copyright-widget {
    margin-top: 0;
    text-align: center !important;
  }
  .blog_post.one .thumb .post_title {
    font-size: 48px;
  }
  .our-dashbord:before {
    width: 48%;
  }
  .footer_about_widget,
  .footer_qlink_widget,
  .main_blog_post_content,
  .footer_contact_widget {
    margin-bottom: 30px;
  }
  .sign_up_form button,
  .login_form button {
    margin-bottom: 40px !important;
  }
  .funfact_one {
    margin-bottom: 30px;
  }
  .mbp_pagination ul.page_navigation {
    margin-bottom: 30px;
  }
  .shop_order_box .order_list_raw ul li {
    margin-right: 25px;
  }
  .order_sidebar_widget {
    margin-top: 30px;
  }
  .single_product_grid {
    margin-bottom: 30px;
  }
  .form_grid .wrapper {
    position: relative;
  }
  .invoice_table .wrapper {
    padding: 50px 30px;
  }
  .invoice_table .main_logo {
    margin-bottom: 30px;
  }
  .shop_item.list_style .details {
    padding-left: 20px;
  }
  .shop_item.list_style .thumb_info {
    margin-left: 10px;
  }
  .shop_item.list_style .thumb_info ul li {
    margin-right: 3px;
  }
  .shop_item.list_style .details .si_footer .cart_btn {
    margin-top: 30px;
  }
  .banner_one.large {
    margin-left: 0;
  }
  .banner_one.home7_style .thumb img {
    height: auto;
  }
  .order_tracking_thumb {
    height: auto;
  }
  .order_tracking_thumb img {
    position: relative;
  }
  .sidebar_location_filter .bootstrap-select > .dropdown-toggle {
    max-width: initial;
  }
  .sidebar_location_filter
    .checkout_country_form
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(
      .input-group-btn
    ) {
    width: 100%;
  }
  .banner_one.home5_style .thumb img {
    height: 200px;
  }
  .banner_one.home3_style.h900 {
    height: 600px;
  }
  .banner_one.home7_banr_slider {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 768px) {
  .menu-toggle {
    background-color: transparent !important;
  }
  .menu_style_home_one.stricky-fixed,
  header.header-nav.menu_style_home_one {
    display: none;
  }
  header.header-nav.menu_style_home_one .ace-responsive-menu,
  header.header-nav.menu_style_home_one .ace-responsive-menu > li {
    background-color: #262626;
  }
  header.header-nav.menu_style_home_one .ace-responsive-menu li a {
    padding: 27px 15px;
  }
  .menu-toggle #menu-btn {
    background-color: #79b530 !important;
    border-color: #79b530 !important;
  }
  .ui_kit_tooltip .btn {
    margin-bottom: 10px;
  }
  .our-dashbord:before {
    display: none;
  }
  .testimonial_content {
    padding: 60px 20px;
  }
  .home3_cart_item .shop_single_product_details {
    padding: 0;
  }
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(5),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(6),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(7),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(8),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(9),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(10),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(11),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(12),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(13),
  .navi_pagi_bottom_center.owl-theme .owl-dots .owl-dot:nth-child(14),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(5),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(6),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(7),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(8),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(9),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(10),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(11),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(12),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(13),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(14),
  .navi_pagi_top_right.owl-theme .owl-dots .owl-dot:nth-child(15) {
    display: none !important;
  }
  .top-search form.form-search .box-search .search-suggestions:before,
  .top-search.home2_style
    form.form-search
    .box-search
    .search-suggestions:before {
    top: 15px !important;
  }
}
@media only screen and (max-width: 767.98px) {
  .dn-sm,
  .dn-767 {
    display: none !important;
  }
  .db-sm,
  .db-767 {
    display: block !important;
  }
  .bgct-767 {
    background-color: transparent !important;
  }
  .tac-sm,
  .tac-767 {
    text-align: center !important;
  }
  .tal-xsd,
  .tal-767 {
    text-align: left !important;
  }
  .tac-xsd,
  .tac-767 {
    text-align: center !important;
  }
  .dn-xsd,
  .dn-767 {
    display: none;
  }
  .db-xsd,
  .db-767 {
    display: block !important;
  }
  .fl_smd,
  .fl-767 {
    float: left;
  }
  .fr_smd,
  .fr-767 {
    float: right;
  }
  .fn-sm,
  .fn-767 {
    float: none !important;
  }
  .pb0-sm,
  .pb0-767 {
    padding-bottom: 0 !important;
  }
  .pl0-sm,
  .pl0-767 {
    padding-left: 0 !important;
  }
  .pl10-sm,
  .pl10-767 {
    padding-left: 10px !important;
  }
  .pl15-sm,
  .pl15-767 {
    padding-left: 15px !important;
  }
  .pr15-sm,
  .pr15-767 {
    padding-right: 15px !important;
  }
  .pt0-sm,
  .pt0-767 {
    padding-top: 0 !important;
  }
  .pt100-sm,
  .pt100-767 {
    padding-top: 100px !important;
  }
  .mt0-sm,
  .mt0-767 {
    margin-top: 0 !important;
  }
  .mt30-sm,
  .mt30-767 {
    margin-top: 30px !important;
  }
  .mb0-sm,
  .mb0-767 {
    margin-bottom: 0 !important;
  }
  .mb10-sm,
  .mb10-767 {
    margin-bottom: 10px !important;
  }
  .mb15-sm,
  .mb15-767 {
    margin-bottom: 15px !important;
  }
  .mb20-sm,
  .mb20-767 {
    margin-bottom: 20px !important;
  }
  .mb30-sm,
  .mb30-767 {
    margin-bottom: 30px !important;
  }
  .mb35-sm,
  .mb35-767 {
    margin-bottom: 35px !important;
  }
  .ml0-sm,
  .ml0-767 {
    margin-left: 0;
  }
  .jcc-sm {
    justify-content: center !important;
  }
  .bg-img-none-sm {
    background-image: none !important;
  }
  .slider_dib_sm.owl-carousel .owl-stage-outer {
    display: inline-block !important;
  }
  .dropdown-content {
    height: 500px;
    top: 0;
    z-index: 1;
  }
  .dropdown-content:before {
    left: 0;
  }
  .checkout_form .checkout_coupon form button.btn3 {
    position: relative;
  }
  .main-banner-wrapper .carousel-btn-block {
    bottom: 12%;
    top: auto;
  }
  .main-banner-wrapper.home9 .carousel-btn-block {
    bottom: 20%;
    top: auto;
  }
  .mbp_blockquote {
    display: inline-table;
  }
  .portfolio_item,
  .portfolio_item img {
    height: auto;
    width: 100%;
  }
  .faq_according,
  .ui_kit_table {
    margin-bottom: 30px;
  }
  .mbp_pagination ul.page_navigation {
    height: 100%;
    padding-left: 15px;
  }
  .our-dashbord:before {
    display: none;
  }
  .message_container .message_input form button.btn,
  .message_container .message_input form input.form-control {
    z-index: 9;
  }
  .message_input:before {
    background-color: #fff;
    bottom: -32px;
    content: "";
    left: -30px;
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 0;
  }
  .testimonial_content {
    margin: 70px 50px;
  }
  .blog_post {
    margin-bottom: 20px;
  }
  .icon_box_home6 {
    padding: 20px;
  }
  .banner-style-one .slide.slide-one.home6 .banner-title {
    font-size: 36px;
  }
  .banner-style-one .banner-title {
    font-size: 30px;
  }
  .checkout_form .checkout_coupon form input,
  .checkout_form .checkout_coupon form button.btn2 {
    margin-bottom: 15px;
  }
  .inbox_chatting_box .chatting_content {
    padding: 30px 30px 100px;
  }
  .blog_post_share li {
    margin-bottom: 10px;
  }
  .shop_item.list_style {
    display: block;
    text-align: center;
  }
  .shop_item.list_style .thumb {
    margin: 0 auto 30px;
    width: auto;
  }
  .shop_item.list_style .details {
    padding-left: 0;
  }
  .shop_item.list_style .details .si_footer {
    display: block;
  }
  .home6_style .home-content {
    margin: 30px 0;
    padding: 0 !important;
  }
  .home8_main_slider .banner-style-one .slide {
    padding: 50px 15px;
  }
  .shop_item_4grid_slider.home10_style.owl-theme .owl-nav .owl-prev,
  .shop_item_4grid_slider.home10_style.owl-theme .owl-nav .owl-next {
    top: 0;
  }
  .banner_one.home9_style .thumb img {
    width: 100%;
  }
  .home3_style .banner-style-one .slide,
  .home6_style .banner-style-one .slide,
  .home7_main_slider .banner-style-one .slide,
  .home8_main_slider .banner-style-one .slide,
  .home9_slider_style .banner-style-one .slide {
    height: 300px !important;
    padding: 5px 0;
  }
  .home3_style .banner-style-one .banner-title,
  .home6_style .banner-style-one .banner-title,
  .home7_main_slider .banner-style-one .banner-title,
  .home8_main_slider .banner-style-one .banner-title,
  .home9_slider_style .banner-style-one .banner-title {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  .table_body .cart_list li {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  .inner_page_breadcrumb .breadcrumb_content.style4 {
    padding-top: 90px;
  }
  .filter_components .drop_content2,
  .filter_components .drop_content3 {
    left: auto;
  }
  .filter_components .drop_content2:before,
  .filter_components .drop_content3:before {
    left: auto;
    right: 30px;
  }
  .vendor_single_page_banner .details .vendor_acc_info {
    padding: 150px 30px;
  }
  .shoplist_style_v6 .banner-style-one .slide {
    padding: 120px 30px;
  }
  .shoplist_style_v7 .banner-style-one .slide {
    padding: 70px 30px;
  }
  .navi_pagi_bottom_left.main-banner-wrapper .carousel-btn-block {
    left: 50px;
  }
  .navi_pagi_bottom_left .banner-style-one .owl-dots {
    left: 120px;
  }
  .shop_item .details .title,
  .shop_item .details .title a {
    max-width: inherit;
  }
  .home1_style .banner-style-one .slide {
    height: 400px !important;
    padding: 70px 0;
  }
  .home1_style .banner-style-one .banner-title {
    font-size: 26px;
    line-height: inherit;
  }
  .main-banner-wrapper.home1_style .carousel-btn-block {
    display: none;
  }
  .home1_style .banner-style-one .owl-dots {
    bottom: 10px;
  }
  .banner_one.home3_style.h900 {
    height: 450px;
  }
  .banner_one.home3_style.h900 .details {
    left: 30px;
  }
  .banner_one.home7_banr_slider .details .title,
  .shop_item.home7_banr_slider .details .title,
  .shop_item.home7_banr_slider .details .title a {
    width: auto;
  }
  .shop_item.home7_banr_slider .details {
    text-align: center;
  }
  .shop_item.home7_banr_slider .thumb img {
    max-width: initial;
    margin: 0 auto;
  }
  .banner_one.home1_style.home3_large_banner {
    background-image: none;
  }
  .home3_cart_item {
    padding: 40px 0;
  }
  .banner_one.home5_style.athome7 {
    background-color: #f2f2f2;
  }
  .banner_one.home5_style.athome7 .thumb img {
    opacity: 0;
  }
  .banner_one.home1_style.home3_large_banner.athome7 .details {
    left: 30px;
  }
  .footer_mailchimp_form.home7_lg_banner .col-auto {
    width: auto;
  }
  .cart_btn_widget.shop_single3_style .btn {
    width: 100%;
  }
}
@media only screen and (max-width: 630px) {
  .banner-style-one .slide {
    padding: 165px 15px;
  }
}
@media only screen and (max-width: 575.98px) {
  .pb100-xs {
    padding-bottom: 100px !important;
  }
  .mt20-xxsd {
    margin-top: 20px;
  }
  .dropdown-content {
    height: 800px;
  }
  .dropdown-content:before {
    display: none;
  }
  .shop_single_natabmenu .product_popup {
    right: 0;
  }
  .custom_nav_list {
    position: absolute;
    bottom: -20px;
  }
}
@media only screen and (max-width: 520px) {
  .d-520-flex {
    display: flex !important;
  }
  .justify-content-520-between {
    justify-content: space-between !important;
  }
  .tac-xxsd {
    text-align: center !important;
  }
  .tal-xxsd,
  .tal-520 {
    text-align: left !important;
  }
  .mb50-xxsd {
    margin-bottom: 50px;
  }
  .mb5-xxsd,
  .mb5-520 {
    margin-bottom: 5px;
  }
  .mb15-xxsd,
  .mb15-520 {
    margin-bottom: 15px;
  }
  .mb30-xxsd,
  .mb30-520 {
    margin-bottom: 30px;
  }
  .mb0-xxsd,
  .mb0-520 {
    margin-bottom: 0 !important;
  }
  .mt0-520,
  .mt0-xs {
    margin-top: 0 !important;
  }
  .mt30-520,
  .mt30-xxsd {
    margin-top: 30px !important;
  }
  .ml0-xxsd,
  .ml0-520 {
    margin-left: 0;
  }
  .ml15-xxsd,
  .ml15-520 {
    margin-left: 15px;
  }
  .ml30-xxsd,
  .ml30-520 {
    margin-left: 30px;
  }
  .col-xxs-6 {
    width: 50% !important;
  }
  .col-xxs-12 {
    width: 100% !important;
  }
  .plpr15-xxsd,
  .rs-smd-pad395 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .pl0-520 {
    padding-left: 0 !important;
  }
  .pl5-520 {
    padding-left: 5px !important;
  }
  .pl10-520 {
    padding-left: 10px !important;
  }
  .pl15-520 {
    padding-left: 15px !important;
  }
  .pr15-xxsd {
    padding-right: 15px;
  }
  .pl15-xxsd {
    padding-left: 15px;
  }
  .plpr15-xxsd {
    padding-left: 15px;
    padding-right: 15px;
  }
  .prpl0-lg {
    padding-right: 15px;
    padding-left: 15px;
  }
  .pt30-520,
  .pt30-xxsd {
    padding-top: 30px;
  }
  .fn-520 {
    float: none !important;
  }
  .fl-520 {
    float: left !important;
  }
  .fr-520 {
    float: right !important;
  }
  .db-520 {
    display: block !important;
  }
  .dn-520 {
    display: none !important;
  }
  .mb80-520 {
    margin-bottom: 80px !important;
  }
  .pb100-520 {
    padding-bottom: 100px !important;
  }
  .dropdown-content {
    bottom: 0;
    left: 0;
    max-height: -webkit-fill-available;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible !important;
  }
  .dropdown-content.home2 {
    top: 0;
  }
  .main-banner-wrapper .carousel-btn-block .carousel-btn.left-btn,
  .main-banner-wrapper .carousel-btn-block .carousel-btn.right-btn {
    display: none;
  }
  .navi_pagi_bottom_left.main-banner-wrapper
    .carousel-btn-block
    .carousel-btn.left-btn,
  .navi_pagi_bottom_left.main-banner-wrapper
    .carousel-btn-block
    .carousel-btn.right-btn {
    display: block;
  }
  .navi_pagi_bottom_left .banner-style-one .owl-dots {
    left: 110px;
  }
  .navi_pagi_bottom_left.main-banner-wrapper .carousel-btn-block {
    left: 40px;
  }
  .banner-style-one .owl-dots {
    bottom: 20px;
    display: block !important;
    text-align: center;
  }
  .banner-style-one .owl-dots .owl-dot span {
    margin: 0 4px;
  }
  .testimonial_content {
    margin: 70px 0;
  }
  .checkout_form .checkout_coupon form button {
    margin-top: 15px;
    width: 100%;
  }
  .checkout_form .checkout_coupon form button.btn3 {
    width: 100%;
  }
  .product_single_content span.sspd_review,
  .product_single_content .ssp_reply {
    float: none !important;
    margin-bottom: 15px;
  }
  .shop_order_box .order_details {
    padding: 40px 15px 20px;
  }
  .shop_order_box .order_list_raw {
    padding: 40px 20px;
  }
  .banner_one.home1_style .details {
    left: 20px;
    top: 10%;
  }
  .banner_one.home1_style.home3_large_banner .details {
    top: 20%;
  }
  .footer_mailchimp_form {
    margin: 0 15px;
  }
  .ui_page_heading .blockquote span.icon,
  .mbp_blockquote .blockquote span.icon {
    top: 0;
  }
  .ui_page_heading .blockquote,
  .ui_page_heading .blockquote,
  .mbp_blockquote .blockquote {
    padding: 50px 30px;
  }
  .banner_one.home5_style2 .thumb.style1 img {
    height: 320px;
  }
  .banner_one.home5_style2 .details {
    left: 30px;
  }
  .category_list_box.home7_style.style2 {
    height: auto;
  }
  .footer_mailchimp_form button {
    margin-left: -10px;
  }
  .form_grid .contact_form button.style2 {
    width: 100%;
  }
  .filter_components .drop_content2,
  .filter_components .drop_content3 {
    left: 0;
  }
  .vendor_single_page_banner .details .vendor_acc_info {
    padding: 120px 30px;
  }
  .shop_item_4grid_slider.owl-theme.owl-loaded .owl-prev {
    left: 0;
  }
  .shop_item_4grid_slider.owl-theme.owl-loaded .owl-next {
    right: 0;
  }
  .shoplist_style_v6 .banner-style-one .slide {
    padding: 80px 30px;
  }
  .shop_item_5grid_slider.owl-theme.owl-loaded .owl-prev {
    left: 0;
  }
  .shop_item_5grid_slider.owl-theme.owl-loaded .owl-next {
    right: 0;
  }
  .shop_single_wishlist_area li {
    border-right: none;
  }
  .shop_item_4grid_slider.owl-theme.slider_arrow_bgct.home6_style.owl-loaded
    .owl-prev {
    left: -30px;
  }
  .shop_item_4grid_slider.owl-theme.slider_arrow_bgct.home6_style.owl-loaded
    .owl-next {
    right: -30px;
  }
  .cart_btn_widget.shop_single2_style .btn {
    padding-left: 14px 25px;
  }
  .home2_banner_style .apple_widget_home1 .title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .mb0-500 {
    margin-bottom: 0 !important;
  }
  .db-500 {
    display: block !important;
  }
  .dn-500 {
    display: none !important;
  }
  .pl0-500 {
    padding-left: 0 !important;
  }
  .pl5-500 {
    padding-left: 5px !important;
  }
  .pl10-500 {
    padding-left: 10px !important;
  }
  .mb30-520 {
    margin-bottom: 30px !important;
  }
  .mt30-520 {
    margin-top: 30px !important;
  }
  .mt100-500 {
    margin-top: 100px;
  }
  .mbp_pagination_comments .total_review {
    display: block;
    position: relative;
    text-align: center;
  }
  .invoice_footer_content ul li {
    margin-right: 20px !important;
  }
  .home7_style .event_counter_plugin_content ul li span {
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    width: 60px;
  }
  .footer_mailchimp_form.home5 .col-auto {
    padding-left: 0;
  }
}
@media only screen and (max-width: 479px) {
  .shop_single_product_details.home10_style ul li.border-right {
    border-right: none;
    padding-right: 0 !important;
  }
}
@media only screen and (max-width: 414px) {
  .mb5-414 {
    margin-bottom: 5px;
  }
  .mb10-414 {
    margin-bottom: 10px;
  }
  .mb20-414 {
    margin-bottom: 20px !important;
  }
  .mb25-414 {
    margin-bottom: 25px !important;
  }
  .mt0-414 {
    margin-top: 0 !important;
  }
  .mt10-414 {
    margin-top: 10px;
  }
  .mr0-414 {
    margin-right: 0 !important;
  }
  .ml0-414 {
    margin-left: 0 !important;
  }
  .pl0-414 {
    padding-left: 0 !important;
  }
  .pl5-414 {
    padding-left: 5px !important;
  }
  .pl10-414 {
    padding-left: 10px !important;
  }
  .db-414 {
    display: block !important;
  }
  .dn-414 {
    display: none !important;
  }
  .fn-414 {
    float: none !important;
  }
  .tac-414 {
    text-align: center !important;
  }
  .d-414-block {
    display: block !important;
  }
  .dropdown-content {
    width: 108%;
  }
  .message_container .message_input form button.btn {
    right: 5px;
    width: auto;
  }
  .single_line .para {
    float: none;
  }
  .single_line .review {
    float: none;
  }
  .main-title a {
    display: inline-block;
    float: none !important;
  }
  .ui_kit_tooltip .btn {
    margin-bottom: 10px;
  }
  .testimonial_content .thumb {
    margin-bottom: 20px;
  }
  .stylehome1.dashbord_mobile_logo .nav_logo_img {
    margin-left: -35px;
  }
  .shop_order_box .order_list_raw ul li {
    margin-bottom: 20px;
    width: 100%;
  }
  .bsp_reveiw_wrt .comments_form button.btn {
    padding: 0 30px;
    width: auto;
  }
  .deal_counter {
    margin: 0 auto !important;
  }
  .banner_one.home5_style .thumb.style1 img {
    height: 200px;
  }
  .testimonialsec {
    padding: 0 20px;
  }
  .shop_single_product_details .cart_btns input {
    margin-bottom: 10px;
  }
  .home6_style .banner-style-one .slide {
    padding: 50px 0;
  }
  .login_form .login_with_social li:last-child {
    margin-right: 6px;
  }
  .ui_kit_tab .nav.nav-tabs .nav-link {
    margin-bottom: 10px;
  }
  .shortcode_widget_accprdons .faq_according .accordion .card:last-child {
    padding-bottom: 0;
  }
  .shortcode_widget_accprdons
    .faq_according
    .accordion
    .card
    .card-header
    .btn-link {
    margin: 0 0 40px;
  }
  .shortcode_widget_accprdons.shop_single_accordion
    .faq_according
    .accordion
    .card
    .card-header
    .btn-link {
    margin: 0;
  }
  .shortcode_widget_accprdons
    .faq_according
    .accordion
    .card:last-child
    .card-header
    .btn-link {
    margin-bottom: 30px;
  }
  .shortcode_widget_accprdons
    .faq_according
    .accordion
    .card
    .card-header
    .btn-link
    span {
    margin-right: 15px;
  }
  .uilayout_range {
    max-width: 280px;
  }
  .uilayout_range.home1_style {
    margin: 0 15px;
  }
  .dashboard__content {
    padding: 60px 15px !important;
  }
  .single_line_review .progress-bar__bg {
    width: 180px;
  }
  .navi_pagi_top_right.owl-theme.owl-carousel .owl-controls {
    position: relative;
    top: 0;
  }
  .banner_one.home7_banr_slider {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .mb0-400 {
    margin-bottom: 0 !important;
  }
  .db-400 {
    display: block !important;
  }
  .ml0-400 {
    margin-left: 0 !important;
  }
  .mr0-400 {
    margin-right: 0;
  }
  .mb20-400 {
    margin-bottom: 20px;
  }
  .db-400 {
    display: block !important;
  }
  .fn-400 {
    float: none !important;
  }
  .tal-400 {
    text-align: left !important;
  }
  .upad395xsd {
    padding-left: 5px;
    padding-right: 5px;
  }
  .slider_dib_400.owl-carousel .owl-stage-outer {
    display: inline-block !important;
  }
  .mbp_pagination_comments .mbp_first.media,
  .bsp_reveiw_wrt {
    padding: 30px 15px;
  }
  .blog_post_share li:first-child {
    margin-right: 0;
  }
  .mbp_pagination_comments .mbp_first .media-body .sub_title {
    display: block;
  }
  .product_single_content
    .mbp_pagination_comments
    .mbp_first.media
    .sub_title
    ul {
    padding-left: 0;
  }
  .shop_single_product_details .cart_btns input {
    margin-bottom: 15px;
  }
  .product_single_content .mbp_pagination_comments .mbp_first img,
  .product_single_content .mbp_pagination_comments .mbp_second img {
    margin-bottom: 15px;
  }
  .blog_post_share {
    text-align: left !important;
  }
  .sspd_review {
    float: none !important;
    margin-top: 10px;
  }
  .sspd_review ul {
    padding-left: 0;
  }
  .mbp_pagination_tab .pag_prev {
    margin-bottom: 20px;
  }
  .dropdown_content {
    width: 300px;
  }
  .dropdown_content > li {
    padding: 20px 15px;
  }
  .dropdown_content .list_content a img {
    margin-right: 10px;
    width: 45px;
  }
  .dropdown_content .list_content a p {
    margin-top: 0;
  }
  .dropdown_content .list_content .cart_btns,
  .dropdown_content .list_content .checkout_btns {
    width: 125px;
  }
  .signin-hidden-sbar,
  .signup-hidden-sbar,
  .cart-hidden-sbar,
  .menu-hidden-sbar-left,
  .department-hidden-sbar-left,
  .allfilter-hidden-sbar-left {
    width: 320px !important;
  }
  .hsidebar_footer_content .list_last_content .cart_btns {
    margin-bottom: 10px;
  }
  .dropdown_content .list_content .close_icon {
    right: 20px;
  }
  .home1_style .banner-style-one .slide {
    padding: 40px 0;
  }
  .home1_style.athome7 .banner-style-one .slide {
    height: 400px !important;
    padding: 70px 0;
  }
  .banner_one.home5_style.athome7 {
    background-color: #f2f2f2;
    padding: 0 0 100px;
  }
  .banner_one.home1_style.home3_large_banner.athome7 .details {
    top: 7%;
  }
  .banner_one.home1_style.home3_large_banner.athome7 .details .title {
    width: auto;
  }
  .footer_mailchimp_form.home7_lg_banner .col-auto {
    display: block;
  }
  .footer_mailchimp_form.home7_lg_banner button {
    margin-left: 0;
    margin-top: 10px;
  }
  pr_custom_prgrsba {
    max-width: 220px;
  }
  pr_paginations .slidetotal {
    left: 270px;
  }
  op_item.small_style .details .title,
  .shop_item.small_style .details .title a {
    width: auto;
  }
  op_item_5grid_slider.nav_none_400.owl-theme.owl-loaded .owl-nav {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .banner_one.large.home4_style .details.style2 {
    left: 20px;
    top: 20px;
  }
  .ui_kit_message_box .alert {
    display: inline-table;
  }
  .testimonial_content .thumb {
    margin-bottom: 10px;
  }
  .ui_kit_tab .nav.nav-tabs {
    height: auto;
  }
  .inbox_user_list ul li.contact .wrap .meta {
    display: table-caption;
  }
  .shop_item_pack ul li {
    margin-bottom: 10px;
  }
  .category_list_box .thumb img {
    right: -30px;
    z-index: -1;
  }
  .shoplist_style_v1 .banner-style-one .slide {
    padding: 60px 30px;
  }
  .banner_one.home1_style .thumb img,
  .category_list_box .thumb img {
    opacity: 0;
  }
  .banner_one.home2_home_style .thumb img,
  .banner_one.home4_main_banner .thumb img,
  .banner_one.home1_style.athome10 .thumb img,
  .banner_one.home4_style .thumb img {
    opacity: 1 !important;
  }
  .cloth_size_list_sscs_page li a {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 340px) {
  .mb20-340 {
    margin-bottom: 20px;
  }
  .product_single_content .mbp_pagination_comments .mbp_first img,
  .product_single_content .mbp_pagination_comments .mbp_second img {
    margin-right: 10px !important;
  }
  .banner_one.home5_style .thumb.style1 img {
    height: 180px;
  }
  .category_list_box.home4_style .thumb img {
    right: -30px;
  }
  .dashboard_page_add_listing .btn-order {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 320px) {
  .list-style-type-bullet li {
    margin-left: 30px;
  }
  .dropdown_content {
    right: -10px;
  }
  .event_counter_plugin_content ul li:first-child,
  .event_counter_plugin_content ul li:nth-child(2),
  .event_counter_plugin_content ul li:nth-child(3) {
    margin-right: 8px;
  }
  .shoplist_style_v7 .banner-style-one .slide {
    padding: 60px 20px;
  }
}
